@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
    font-size: 62.5%;  
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

h1,h2,h3,h4,p,ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

input, button{
    outline: none;
    border: none;
}



$blue:#09599A;
$green:#00614E;
$red:#d63031;
$gray: #dfe6e9;

